.w-zoom-in-center-enter-active,
.w-zoom-in-center-leave-active {
  transition: all .3s cubic-bezier(.55,0,.1,1);
}
.w-move-enter-active, .w-move-leave-active {
  transition: all 0.5s linear;
  transform: translate3d(0, 0, 0);
}
.w-move-enter, .w-move-leave {
  transform: translate3d(100%, 0, 0);
}
.w-zoom-in-center-enter,
.w-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0);
}

@keyframes w-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes w-opacity
{
  0%   {opacity: 1;}
  10%   {opacity: 0.9;}
  20%  {opacity: 0.8;}
  30%  {opacity: 0.7;}
  40%  {opacity: 0.6;}
  50%  {opacity: 0.5;}
  60% {opacity: 0.6;}
  70%  {opacity: 0.7;}
  80%  {opacity: 0.8;}
  90%  {opacity: 0.9;}
  100% {opacity: 0.95;}
}

